<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<nav class="menu">
  <ol>
    <li class="menu-item main-menu-item"><a href="#">Home</a></li>
    <li class="menu-item main-menu-item"><a href="#">About</a></li>
    <li class="menu-item main-menu-item"><a href="#">Contact</a></li>
    <li class="menu-item main-menu-item">
      <a href="#0">User</a>
      <ol class="sub-menu">
        <li class="menu-item"><a href="#">{{ request.user.username }}</a></li>
        <li class="menu-item"><a href="#">Reward Points</a></li>
      </ol>
    </li>
    <li class="menu-item main-menu-item"><a href="{% url 'logout' %}">LogOut</a></li>
  </ol>
</nav>
<div class="container">
  <div class="container-text">
    <h1>All Contents will be here.</h1>
    {% block content %}
    {% endblock %}
  </div>
</div>
</body>
</html>